<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harmony</title>
  <script src="https://kit.fontawesome.com/4e7f0c2d65.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="faq.css">
</head>

<body>
  <nav>
    <div class="profileHeader">
      <p>harmony faq</p>
    </div>
    <ul>
      <li><a href="/profile">home</a></li>
      <li><a href="/location">locations</a></li>
      <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>
    </ul>
  </nav>
  <br><br>
  <div class="faq-container">
    <div class="container-fluid">
      <h2>Frequently Asked Questions (FAQ)</h2>
      <div class="accordion">
        <div class="icon"></div>
        <h5>What food items can I donate?</h5>
      </div>
      <div class="panel">
        <span>All produce and non-perishables such as cans, pasta, rice, breads. Dairy products(including eggs) and
          packaged meals are also appreciated. PPE such as masks and hand sanitizer and reusable bags are also welcomed!
          We do not accept raw meat, unlabled meals, alcohol, or anything that is opened, rotted or
          expired</span>
      </div>
      <div class="accordion">
        <div class="icon"></div>
        <h5>How is Harmony Community Fridge different than other food banks?</h5>
      </div>
      <div class="panel">
        <span>The fridge offers perishable items such as fruits, vegetables, on the go meals, dairy and non-dairy
          products. In addition to the non-perishable items that most traditional food banks offer. Anyone can also take
          food from the fridge, no signup or paperwork needed.</span>
      </div>
      <div class="accordion">
        <div class="icon"></div>
        <h5>Are there other community fridges located throughout the city?</h5>
      </div>
      <div class="panel">
        <span>Yes there are! There are many locations throughout the city of Philadelphia run by many different people.
          You
          can check out where other fridges are located by clicking on the locations tab above</span>
      </div>
    </div>
  </div>

  <script src="faq.js"></script>
</body>

</html>