<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harmony Refrigerator</title>
  <link rel="stylesheet" href="refrigertor.css">
</head>

<body>
  <nav>
    <div class="logo">
      <p>Harmony Donation</p>
      <ul>
        <li><a href="/profile">home</a></li>
        <li><a href="/location">locations</a></li>
        <a href="/logout" class="btn btn-default btn-sm">Sign Out</a>
      </ul>
  </nav>
  <table>
    <tr>
      <td>
        <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
          <div>
            <label>Full Name*</label><label class="validation-error hide" id="fullNameValidationError">This field is
              required.</label>
            <input type="text" name="fullName" id="fullName">
          </div>
          <div>
            <label>Item Description</label>
            <input type="text" name="itemDescription" id="itemDescription">
          </div>
          <div>
            <label>Quantity</label>
            <input type="number" name="quantity" id="quantity">
          </div>
          <div>
            <label>Location</label>
            <input type="text" name="location" id="location">
          </div>
          <div class="form-action-buttons">
            <input type="submit" value="Submit">
          </div>
        </form>
      </td>
      <td>
        <table class="list" id="donationList">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Item Description</th>
              <th>Quantity</th>
              <th>Location</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <script src="refrigerator.js"></script>
</body>

</html>