<!DOCTYPE html>
<html>

<head>
  <title>Harmony</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/4e7f0c2d65.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <div class="profileHeader">
      <p>harmony</p>
    </div>
    <ul>
      <li><a class="profile" href="/location">locations</a></li>
      <li><a class="profile" href="/volunteer">volunteer</a></li>
      <li><a class="profile" href="/donate">donate</a></li>
      <li><a class="profile" href="/faq">faq</a></li>
      <a class="profile" href="/logout" class="btn btn-default btn-sm">Sign Out</a>
    </ul>
  </nav>
  <div class="vid-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/k0msIib3WVU?rel=0&autoplay=1"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="village-container">
    <img src="/img/villageone.jpeg" alt="villageimageone">
  </div>
  <div class="about-harmony">
    <h3>About Harmony's Fridge</h3>
    <br>
    <p>The Harmony Community Fridge is a 24/7 free fridge to help combat food insecurity and food waste in Philadelphia,
      specifically in the Mount Airy, West Oak Lane and Roxbourogh neighborhoods. Started in 2021 by Ciara W., the
      fridge is fueled by donations from people in the community. Anyone who needs food can take it, and it's always
      free! Unlike traditional food banks, the fridge is able to accept both perishable and non-perishable items such as
      fresh fruits and vegetables.</p>
    <br><br>
    <button class="about-harmonyBtn"><a href="/location">Directions</a></button>
  </div>
  <div class="harmony-fridge">
    <img src="/img/harmonyfridgetwo.jpeg" alt="">
  </div>
  <div class="harmonizer">
    <h3>Become a Harmonizer</h3>
    <span>Sign up with your email address and receive updates, community meet ups and more!</span>
    <br><br>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Email Address">
    <button class="harmonizer-btn">Sign Up</button>
    <br>
    <label for="check">
      <div class="input-container">
        <input type="checkbox" class="checkbox" id="check">
        <span class="checkbox-text">I'm not a robot</span>
      </div>
    </label>
  </div>
  <script src="main.js"></script>
</body>

</html>