@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;500&family=Poiret+One&family=Poppins:wght@300;400;500&display=swap");
:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}
nav {
  width: 100%;
  height: 75px;
  background-color: #201a23;
  line-height: 75px;
  padding: 0px 100px;
  z-index: 1;
}
nav .logo {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
nav .logo p {
  float: left;
  background: -webkit-linear-gradient(#33ccff, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 32px;
}
nav ul li a:hover {
  color: rgb(106, 122, 150);
}
nav ul li {
  color: rgb(106, 122, 150);
}
a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
a:hover {
  background: -webkit-linear-gradient(#33ccff, #ff99cc);
}

body > table {
  width: 100%;
}

table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #201a23;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30%;
  background-color: #ddd;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form div.form-action-buttons {
  text-align: right;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  margin-right: 4px;
}

label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

/* header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-item-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-item-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-item-input::placeholder {
  color: var(--gray);
}

#new-item-submit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-item-submit:hover {
  opacity: 0.8;
}

#new-item-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.item-list {
  padding: 1rem;
}

.item-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}
#items .item {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#items .item .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#items .item .content .text:not(:read-only) {
  color: var(--pink);
}

#items .item .action {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4;
}
.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: crimson;
} */
